.jumbotron {
    display: flex;
    background-color: thistle;
    padding: 1rem 1rem;
}
.jumbotron-img {
    display: flex;
    justify-content: left;
    align-items: left;
    border-radius: 50%;

}
.display-4 {
color:black;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 80px;
}

.lead {
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.sub-heading {
    display: flex;
    justify-content: center;
    align-items: end;
}
.navbar-nav {
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.nav-link {
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.navbar-brand {
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-style: bold;
}
/* cards 1, 2 and 3 Horiseons, Jakes Eatery and Portfolio */
.card {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.main-card-text {
    resize: none;
    height: 100px;
    width: 350px;
}

/*works section, Code Quiz, Work-day Scheduler, Password Generator and Foodie Guide */
.card {
    max-width:100%;
    height:auto;
    border: 10px;
    border-color: darkgray;
}
.work-card-text {
    resize: none;
    height: 100px;
    width: 350px;
}
.card-body {
    border: 10px;
}
/* about section */
.card-text {
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
/* contact section */
.form-group {
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    resize: none;
    height: 100px;
    width: 400px;
}

.card-title {
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.btn-btn-primary {
    background-color: black;
    color: white;
    border-radius: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/*quote section/footer */
.card-header {
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    border:0px;
}